<app-global-error></app-global-error>

<div class="max-w-7xl container mx-auto pt-5">
  <h1 class="font-bold text-center mb-10">{{ title | titlecase }}</h1>
  <input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter products"
    [(ngModel)]="term"
  >
  <p *ngIf="loading" class="text-center text-lg">Loading...</p>
  <div class="grid grid-cols-4 gap-3" *ngIf="products$ | async as products">
    <app-product
      *ngFor="let product of products | filterProducts: term"
      [product]="product"
    ></app-product>
  </div>
</div>

